#if($layoutStyle && $layoutStyle == "empty")
    #parse("/layout/empty.vm")
#elseif($layoutStyle && $layoutStyle == "blank")
    #parse("/layout/blank.vm")
#else
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>#if($page_title) $page_title #else vote #end</title>

    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <link rel="shortcut icon" href="logo.png?1" mce_href="logo.png?1" type=”image/x-icon”>
    #parse("/control/meta.vm")
</head>

<body>
<div class="page">
    <div id="pageHead" class="page-head">
        <div class="control-panel-link">
            <a href="#" class="control-panel-link-nav">用户名：$!{userName}</a>
            <a href="/logout.do" class="control-panel-link-nav" style="background:none">退出</a>
        </div>
        <div class="index-logo"><img src="#getImgPath('logo.png')" /></div>
        <div class="head-line-bottom"></div>
    </div>

    <div id="pageBody" class="page-body">
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td valign="top">
                    #parse("/control/sidebar.vm")
                </td>

                <td width="4">
                    <div class="index-close"><a href="#" id="aa" class="btn-close-frame" onclick="colseNav()"></a></div>
                </td>

                <td valign="top" width="100%">
                    <div class="index-content">
                        <div class="control-contrian">
                            $screen_content
                        </div>
                    </div>
                </td>

            </tr>
        </table>
      </div>

        #parse("/control/footer.vm")
</div>

<script>
    function colseNav(){
        if(document.getElementById('nav-td').style.display != "none"){
            document.getElementById('aa').className = 'btn-open-frame';
            document.getElementById('nav-td').style.display = "none";

        }else{
            document.getElementById('nav-td').style.display = "block";
            document.getElementById('aa').className = 'btn-close-frame';
        }
    }

    $("#mlist h2").click(function(){
         if($(this).parent().attr("class") == "panel_min"){
            $(this).parent().attr("class","panel_add");
         }else{
            $(this).parent().attr("class","panel_min");
         }
    });

    $(".page-menu-header").click(function(){
        $(".panel_min").removeClass("panel_min").addClass("panel_add");
    });

</script>

</body>
</html>
#end